
.customlink {
    color: #094074;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    font-size: 0.75rem;
    cursor: pointer;
    height: 2.5rem;
    width: 250px;
    font-weight: 600;
  }
  
  .customlink:hover {
    background-color: #c6c6c6;
  }
  
  .logocontainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .iconcontainer {
    display:flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  
  .svgComponent{
    stroke: #094074;
    fill: transparent;
    width: 20px;
    height: 20px;
  }
  .arrow{
    padding-right: 8px;
  }
  .clicked {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    font-size: 0.75rem;
    cursor: pointer;
    height: 2.5rem;
    background-color:#005596;
    width: 250px;
    font-weight: 600;
  }
  
  .clicked .logocontainer .iconcontainer .svgComponent {
    stroke: white;
    width: 20px;
    height: 20px;
  }
  .clicked .logocontainer .iconcontainer .svgComponent path {
    stroke: white;
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 640px) {
    .customlink {
      width: 100%;
    }
    .clicked {
      width: 100%;
    }
  }